@charset "UTF-8";

/* 回答はここに書いてね */
.all {
  width: 940px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #eff3f4;  
  box-sizing: border-box;
}

.q1_content_box {
  width: 230px;
  margin-left: 20px;
  float: left;
  padding: 20px;
  background-color: #3274ae;
}


.q1_content_text{
  padding: 20px;
  font-size: 16px;  
  line-height: 16px;
  border: 10px solid #022336;
  background-color: #eaf4ff;
}

.q1_content_box:first-child {
  margin-left: 0;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
} 
/* 回答はここに書いてね */
