@charset "UTF-8";

/* 回答はここに書いてね */
.text {
  width: 500px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  border: solid 5px #222;
  box-sizing: border-box;
}

.text:before,
.text:after {
  content:"";
  position: absolute;
}

.text:before {
  z-index: 2;
  bottom: -20px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  left: 32px;
}

.text:after {
  z-index:1;
  border: 14px solid transparent;
  border-top: 14px solid #222;
  bottom: -28px;
  left: 30px;
}
/* 回答はここに書いてね */
