@charset "UTF-8";

/* 回答はここに書いてね */
.text {
  width: 500px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  border: solid 5px #222;
}

.text:before,
.text:after {
  content:"";
  position: absolute;
}

.text:before {
  border: 20px solid transparent;
  border-top: 20px solid #222;
  bottom: -45px;
  left: 30px;
}

.text:after {
  bottom: -38px;
  border: 20px solid transparent;
  border-top: 20px solid #FFF;
  left: 30px;
}


/* 回答はここに書いてね */
