@charset "UTF-8";

/* 回答はここに書いてね */
.background {
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  position: relative;
}

.square {
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
  font-size: 40px;
  line-height: 100px;
}
.box8{
  background-color: #de70cf;
  left: 120px;
  top: 120px;
  z-index: 80;
}

.box5{
  background-color: #9fd6d2;
  left: 200px;
  top: 360px;
  z-index: 50;
}

.box1{
  background-color: #ffefd3;
  left: 200px;
  top: 40px;
  z-index: 10;
}

.box7{
  background-color: #deae70;
  left: 40px;
  top: 200px;
  z-index: 70;
}

.box4{
  background-color: #8b7a5e;
  left: 280px;
  top: 280px;
  z-index: 40;
}

.box6{
  background-color: #fffee4;
  left: 120px;
  top: 280px;
  z-index: 60;
}

.box2{
  background-color: #7084de;
  left: 280px;
  top: 120px;
  z-index: 20;
}

.box3{
  background-color: #d0ecea;
  left: 360px;
  top: 200px;
  z-index: 30;
}

.box8:after{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  top: 0;
  right: 00;
}

.box9{
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
  z-index: 90;
}

/* 回答はここに書いてね */
